<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoCLAP1.Properties.Settings.ProyectoCLAPdbConnectionString"
            connectionString="Data Source=DESKTOP-EI7J51J\SQLEXPRESS;Initial Catalog=ProyectoCLAPdb;Persist Security Info=True;User ID=sa;Password=huelva"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>